.grid {
  --grid-column-count: 12;
  --column-gap: var(--spacing-2x);
  --grid-padding: var(--spacing-4x);

  display: grid;
  grid-template-columns: var(--grid-padding) repeat(var(--grid-column-count), 1fr) var(--grid-padding);
  grid-column-gap: var(--column-gap);
  margin-inline-start: auto;
  margin-inline-end: auto;

  @media (width >= 768px) {
    --column-gap: var(--spacing-6x);
    --grid-padding: var(--spacing-2x);
  }

  @media (width >= 1440px) {
    --column-gap: var(--spacing-8x);
    --grid-padding: var(--spacing-6x);
  }

  @media (width >= 1920px) {
    --grid-padding: calc((100vw - 147.2rem) / 2);
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.noPadding {
  grid-template-columns: repeat(var(--grid-column-count), 1fr);
  padding-inline-start: 0;
  padding-inline-end: 0;

  @media (width >= 768px) {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  @media (width >= 1440) {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}
